# PANDAS ASSIGNMENT

In [1]:
import pandas as pd

In [2]:
# q.1
lst = [10,20,30,40]
lst

[10, 20, 30, 40]

In [3]:
l = pd.Series(lst)
l

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# q.2
l[2]

np.int64(30)

In [5]:
# q.3
l[0:3]

0    10
1    20
2    30
dtype: int64

In [6]:
# q.4
l.index = ["a","b","c","d"]
l

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
# q.5
l["b"] =50
l

a    10
b    50
c    30
d    40
dtype: int64

In [8]:
# q.6 
dic = {'Delhi': 1, 'Jaipur': 2,'Chennai': 3, 'Surat': 4, 'Agra': 5}
dic

{'Delhi': 1, 'Jaipur': 2, 'Chennai': 3, 'Surat': 4, 'Agra': 5}

In [9]:
d = pd.Series(dic)
d

Delhi      1
Jaipur     2
Chennai    3
Surat      4
Agra       5
dtype: int64

In [10]:
# q.7
d["Delhi"]

np.int64(1)

In [11]:
d[1:4]

Jaipur     2
Chennai    3
Surat      4
dtype: int64

In [12]:
# q.8
import numpy as np

In [13]:
dt = np.arange(0,4).reshape(2,2)
dt

array([[0, 1],
       [2, 3]])

In [14]:
df = pd.DataFrame(dt,columns = ['a','b'])
df

   a  b
0  0  1
1  2  3

In [15]:
# q.9
df[1:]

   a  b
1  2  3

In [16]:
# 10
f = [[3,4]]
f

[[3, 4]]

In [17]:
df['c'] = [4,5]

In [18]:
df

   a  b  c
0  0  1  4
1  2  3  5

In [19]:
df["c"]

0    4
1    5
Name: c, dtype: int64

In [22]:
c = df.drop(columns = "b")
c

   a  c
0  0  4
1  2  5